.cc-side-nav {
    max-width: 22rem;
}

.cc-side-nav a {
    cursor:pointer;
    color:black;
}

.add-new {
    font-size: 5rem;
}

.cc-container {
    flex-basis: auto;
}

.c-card {
    flex-grow:1;
    max-width: 22rem;
    min-width: 20rem;
    word-wrap: break-word;
}

@media screen and (max-width:960px){
    .c-card {
        max-width: 32rem;
    }
}