.cc-side-nav {
    max-width: 22rem;
}

.cc-side-nav a {
    cursor:pointer;
    color:black;
}

.cc-container {
    flex-basis: auto;
    
}

.c-card {
    flex-grow:1;
    max-width: 22rem;
    min-width: 20rem;
    min-height: 10rem;
    word-wrap: break-word;
    border-radius:5px;
    transition: 0.3s;
}

.c-card:hover {
    box-shadow:0 0 5px #ffc107;
}

@media screen and (max-width:960px){
    .c-card {
        max-width: 32rem;
    }
}